section.dashboard {
  position: relative;
  overflow: visible;
  padding: 1px 0;
}
@media screen and (min-width: 960px) {
  section.dashboard {
    margin: 90px auto 30px;
    width: 84vw;
  }
}
section.dashboard h1, section.dashboard h2, section.dashboard h3, section.dashboard h4, section.dashboard h5, section.dashboard h6 {
  margin: 10px auto;
}
section.dashboard div.current-topic {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: -2px 2px 14px 8px #e4e4e466;
}
@media screen and (min-width: 360px) {
  section.dashboard div.current-topic {
    padding: 24px;
  }
}
section.dashboard div.current-topic h1, section.dashboard div.current-topic h2, section.dashboard div.current-topic h3, section.dashboard div.current-topic h4, section.dashboard div.current-topic h5, section.dashboard div.current-topic h6 {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #989ba0;
  font-weight: 700;
  font-size: 12px;
}
section.dashboard div.current-topic .language {
  position: relative;
  margin-left: 23px;
  margin-top: 6px;;
  font-size: 22px;
  color: #103460;
}
section.dashboard div.current-topic .language .flag {
  position: absolute;
  top: 0;
  left: -23px;
  width: 20px;
}
section.dashboard div.reminder {
  position: relative;
  margin: 100px auto 0;
  padding: 140px 0 20px;
  color: #FFF;
  background: #3D84FF;
  border-radius: 16px;
}
@media screen and (min-width: 960px) {
  section.dashboard div.reminder {
    margin: 70px auto 0;
    padding: 20px 0;
    background: no-repeat right/cover url(../images/headers/Header@2x.png), #3D84FF;
  }
}
section.dashboard div.reminder img.dashboard-pet {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}


@media screen and (min-width: 960px) {
  section.dashboard div.reminder img.dashboard-pet {
    top: auto;
    left: 12px;
    bottom: 0;
    transform: translateY(0);
  }
}

section.dashboard div.reminder h1{
  font-size:30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}


section.dashboard div.reminder h1, section.dashboard div.reminder h2, section.dashboard div.reminder h3, section.dashboard div.reminder h4, section.dashboard div.reminder h5, section.dashboard div.reminder h6, section.dashboard div.reminder p {
  margin: 14px auto;
  text-align: center;
 
}
@media screen and (min-width: 960px) {
  section.dashboard div.reminder h1, section.dashboard div.reminder h2, section.dashboard div.reminder h3, section.dashboard div.reminder h4, section.dashboard div.reminder h5, section.dashboard div.reminder h6, section.dashboard div.reminder p {
    text-align: left;
  }
}
section.dashboard div.reminder h1, section.dashboard div.reminder h2, section.dashboard div.reminder h3, section.dashboard div.reminder h4, section.dashboard div.reminder h5, section.dashboard div.reminder h6 {
  max-width: 300px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 960px) {
  section.dashboard div.reminder h1, section.dashboard div.reminder h2, section.dashboard div.reminder h3, section.dashboard div.reminder h4, section.dashboard div.reminder h5, section.dashboard div.reminder h6 {
    margin: 20px 20px 14px 250px;
    max-width: initial;
  }

 
}
@media screen and (min-width: 960px) {
  section.dashboard div.reminder p {
    margin: 14px 20px 20px 250px;
    font-size: 18px;
  }
}

/*# sourceMappingURL=dashboard.css.map */
