// Main Dashboard component

// Needed for variable translation
@import 'libs/vars';

section.dashboard {
	position: relative;
	overflow: visible;

	padding: 1px 0;

	@media screen and (min-width: 960px) {
		margin: 90px auto 30px;

		width: 84vw;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin: 10px auto;
	}

	div.current-topic {
		position: absolute;
		top: 0;
		right: 0;

		padding: 10px;

		background: $white;
		border-radius: 4px;
		box-shadow: -2px 2px 14px 8px #C1C1C166;

		@media screen and (min-width: 360px) {
			padding: 24px;
		}

		h1, h2, h3, h4, h5, h6 {
			margin: 0;

			font-family: 'Gilroy', sans-serif;

			color: $gray;
		}

		.language {
			position: relative;
			margin-left: 20px;

			font-size: 22px;

			color: $dark-blue;

			.flag {
				position: absolute;
				top: 0;
				left: -23px;

				width: 20px;
			}
		}
	}

	div.reminder {
		position: relative;
		margin: 100px auto 0;
		padding: 140px 0 20px;

		color: $white;
		background: $blue;
		border-radius: 16px;

		@media screen and (min-width: 960px) {
			margin: 70px auto 0;
			padding: 20px 0;

			background: no-repeat right/cover url(../images/headers/Header@2x.png), $blue;
		}

		img.dashboard-pet {
			position: absolute;
			top: -80px;
			left: 50%;

			transform: translateX(-50%);

			@media screen and (min-width: 960px) {
				top: auto;
				left: 12px;
				bottom: 0;

				transform: translateY(0);
			}
		}

		h1, h2, h3, h4, h5, h6, p {
			margin: 14px auto;
			text-align: center;

			@media screen and (min-width: 960px) {
				text-align: left;
			}
		}

		h1, h2, h3, h4, h5, h6 {
			max-width: 300px;

			font-family: 'Montserrat', sans-serif;

			@media screen and (min-width: 960px) {
				margin: 20px 20px 14px 250px;

				max-width: initial;
			}
		}

		p {
			@media screen and (min-width: 960px) {
				margin: 14px 20px 20px 250px;
			}
		}
	}
}

