// Style for the search form, common element to a couple of components

// Needed for variable translation
@import 'libs/vars';

form.search_form {
	display: flex;
	flex-flow: row nowrap;

	input {
		margin: 0;
		padding: 8px 10px;

		border: none;

		color: $dark-blue;
		background: $white-smoke;

		&:focus {
			outline: 1px solid $blue;
		}
	}

	input[type='text'] {
		padding: 18px;
		width: calc(100% - 40px);

		box-sizing: border-box;
	}

	input[type='submit'] {
		width: 40px;

		background: no-repeat center/12px url(../images/icons/Search.png), $white-smoke;
	}

	button.add_btn {
		display: none;
	}
}
