// Alerts notifications

@import 'libs/vars';

div.alerts-pop {
	position: relative;
	padding: 16px 0;

	width: 380px;

	overflow: visible;

	background: $white;
	border-radius: 4px;

	filter: drop-shadow(0 0 2px $gray);

	&:after {
		content: '';
		position: absolute;
		top: -18px;
		right: 59px;

		border-right: 16px solid transparent;
		border-left: 16px solid transparent;
		border-bottom: 20px solid $white;
	}

	div.alert-element {
		position: relative;

		margin: 0;
		padding: 16px 20px 16px 30px;

		transition: 300ms;

		&:hover {
			color: $white;
			background: $blue;

			h1, h2, h3, h4, h5, h6, .subject {
				color: $white;
			}
		}

		img {
			position: absolute;
			top: 50%;
			left: 18px;

			transform: translateY(-50%);

			height: 60px;
		}

		h1, h2, h3, h4, h5, h6 {
			margin: 6px 12px 12px 60px;

			font-family: 'Gilroy', sans-serif;
			font-weight: 400;
			text-align: left;

			transition: 300ms;

			color: $gray;

			&.subject {
				margin-bottom: 6px;

				font-size: 18px;
				font-weight: 700;

				color: $dark-blue;
			}
		}

		h1 {
			font-size: 18px;
		}
	}
}
