// Global base styles

// Needed for variable translation
@import 'libs/vars';

@import 'components/base';
@import 'components/typography';
@import 'components/venturit';

// Search box style (only visible in mobile)

div.search-box {
	margin: 66px auto 0;
	overflow: auto;

	background: $white;

	form.search_form {
		margin: 16px;
	}

	@media screen and (min-width: 960px) {
		display: none;
	}
}
