// Progress overview for Progress section

@import '../libs/vars';

div.progress-overview {
	grid-area: overview;
	margin: 20px 0 40px;
	width: 100%;

	overflow: auto;

	background: $mid-dark-blue;

	box-shadow: 0 5px 28px 1px $light-blue;

	@media screen and (min-width: 960px) {
		margin: 0;

		border-radius: 10px;

		box-shadow: none;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $white;

		&.title {
			text-align: center;
		}
	}

	div.percentage {
		position: relative;
		margin: 20px 0;

		.value {
			position: absolute;
			top: 50%;
			left: 50%;

			margin: 0;

			transform: translateX(-50%) translateY(-50%);

			font-family: 'Montserrat', sans-serif;
			font-size: 50px;

			color: $white;

			small {
				font-size: 19px;
			}
		}

		svg {
			display: block;
			margin: 20px auto;

			#back_path, #path {
				stroke-dasharray: 1;
				stroke-dashoffset: 0;
				fill: none;
				stroke-linecap: round;
				stroke-linejoin: round;
			}

			#back_path {
				stroke: $orange;
				stroke-width: 14px;
			}

			#path {
				stroke: $yellow;
				stroke-width: 14px;
				animation: reveal 1300ms ease both;
			}

			@keyframes reveal {
				from {
					stroke-dashoffset: 1;
				}

				to {
					stroke-dashoffset: 0.4;
				}
			}

			&::after {
				content: '40%';
				font-size: 40px;
				color: white;

				position: absolute;
				top: 50%; 
				left: 50%;

				transform: translateX(-50%) translateY(-50%);
			}
		}
	}

	div.legend {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;

		max-width: 280px;

		margin: 20px 20px 40px;
		padding: 18px;

		color: $white;
		background: #2F4087;

		border-radius: 12px;

		@media screen and (min-width: 768px) {
			margin: 20px auto 40px;
		}

		div.element {
			padding: 0 10px;
			position: relative;

			&.left .marker:before {
				background: $orange;
			}

			.marker {
				position: relative;
				margin-left: 20px;

				&::before {
					content: '';
					position: absolute;
					top: -1px;
					left: -20px;

					height: 14px;
					width: 14px;

					border-radius: 50%;

					background: $yellow;
				}

			}

			h1, h2, h3, h4, h5, h6 {
				margin: 6px auto;

				font-family: 'Montserrat', sans-serif;
				font-weight: 400;
				text-align: left;

				strong {
					margin-right: 4px;
					font-size: 38px;
				}
			}

			&:first-of-type::after {
				content: '';
				position: absolute;
				top: 12px;
				bottom: 12px;
				right: -0.5px;

				width: 1px;

				background: $white;
			}
		}
	}
}
