div.carrousel {
  position: relative;
  height: 230px;
}
@media screen and (min-width: 960px) {
  div.carrousel {
    height: 240px;
  }
}
div.carrousel button.flickity-button {
  opacity: 1;
  top: auto;
  bottom: 34px;
  width: 50px;
  height: 30px;
  background: #FFF;
  border-radius: 6px;
}
@media screen and (min-width: 960px) {
  div.carrousel button.flickity-button {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
div.carrousel button.flickity-button.previous {
  left: 14px;
}
div.carrousel button.flickity-button.next {
  right: 14px;
}
div.carrousel h1, div.carrousel h2, div.carrousel h3, div.carrousel h4, div.carrousel h5, div.carrousel h6 {
  font-weight: 900;
  line-height: 1.1;
  max-width: 300px;
}
div.carrousel div.carrousel-cell {
  position: relative;
  overflow: auto;
  margin: 0 10px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
div.carrousel div.carrousel-cell .topic {
  position: absolute;
  top: 14px;
  right: 14px;
  margin: 0;
  padding: 4px 18px;
  font-weight: 400;
  text-transform: uppercase;
  background: #3D84FF;
  border-radius: 20px;
}
div.carrousel div.carrousel-cell h1, div.carrousel div.carrousel-cell h2, div.carrousel div.carrousel-cell h3, div.carrousel div.carrousel-cell h4, div.carrousel div.carrousel-cell h5, div.carrousel div.carrousel-cell h6 {
  margin: 46px 14px 0;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
}
div.carrousel div.carrousel-cell h1.title, div.carrousel div.carrousel-cell h2.title, div.carrousel div.carrousel-cell h3.title, div.carrousel div.carrousel-cell h4.title, div.carrousel div.carrousel-cell h5.title, div.carrousel div.carrousel-cell h6.title {
  font-size: 30px;
}
div.carrousel div.carrousel-cell h1.date, div.carrousel div.carrousel-cell h2.date, div.carrousel div.carrousel-cell h3.date, div.carrousel div.carrousel-cell h4.date, div.carrousel div.carrousel-cell h5.date, div.carrousel div.carrousel-cell h6.date {
  margin-top: 2px;
  font-weight: 400;
}
@media screen and (min-width: 960px) {
  div.carrousel div.carrousel-cell h1.title, div.carrousel div.carrousel-cell h1.date, div.carrousel div.carrousel-cell h2.title, div.carrousel div.carrousel-cell h2.date, div.carrousel div.carrousel-cell h3.title, div.carrousel div.carrousel-cell h3.date, div.carrousel div.carrousel-cell h4.title, div.carrousel div.carrousel-cell h4.date, div.carrousel div.carrousel-cell h5.title, div.carrousel div.carrousel-cell h5.date, div.carrousel div.carrousel-cell h6.title, div.carrousel div.carrousel-cell h6.date {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  div.carrousel div.carrousel-cell h1.title, div.carrousel div.carrousel-cell h2.title, div.carrousel div.carrousel-cell h3.title, div.carrousel div.carrousel-cell h4.title, div.carrousel div.carrousel-cell h5.title, div.carrousel div.carrousel-cell h6.title {
    left: 80px;
  }
  div.carrousel div.carrousel-cell h1.date, div.carrousel div.carrousel-cell h2.date, div.carrousel div.carrousel-cell h3.date, div.carrousel div.carrousel-cell h4.date, div.carrousel div.carrousel-cell h5.date, div.carrousel div.carrousel-cell h6.date {
    right: 80px;
    font-weight: 600;
  }
}

/*# sourceMappingURL=carrousel.css.map */
