@charset "UTF-8";
html, body {
  margin: 0;
}

body {
  background: #F5F5FB;
}

section {
  margin: 30px 20px;
}

button {
  cursor: pointer;
  outline: none;
}

form button, form input {
  outline: none;
}
form button, form input[type=submit] {
  cursor: pointer;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Light.otf") format("OpenType");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf") format("OpenType");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "venturit";
  src: url("../fonts/venturit/venturit.eot?vxyq6n");
  src: url("../fonts/venturit/venturit.eot?vxyq6n#iefix") format("embedded-opentype"), url("../fonts/venturit/venturit.ttf?vxyq6n") format("truetype"), url("../fonts/venturit/venturit.woff?vxyq6n") format("woff"), url("../fonts/venturit/venturit.svg?vxyq6n#venturit") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font: 400 16px/1.5 "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

section .section-title, section .section-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #103460;
}
section .section-subtitle {
  margin-top: 30px;
  text-transform: uppercase;
}
section h1.line, section h2.line, section h3.line, section h4.line, section h5.line, section h6.line {
  position: relative;
}
section h1.line::after, section h2.line::after, section h3.line::after, section h4.line::after, section h5.line::after, section h6.line::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  z-index: -500;
  height: 2px;
  background: #E8E8EE;
}
section h1.line span, section h2.line span, section h3.line span, section h4.line span, section h5.line span, section h6.line span {
  padding-right: 10px;
  background: #F5F5FB;
}
section h1.line:after {
  top: 12px;
}
section h2.line:after {
  top: 10px;
}
section h3.line:after {
  top: 8px;
}
section h4.line:after {
  top: 6px;
}
section h5.line:after {
  top: 4px;
}
section h6.line:after {
  top: 2px;
}

form input, form button {
  font-family: "Nunito", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.Gilroy {
  font-family: "Gilroy", sans-serif;
}

.venturit {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "venturit" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Analytics:before {
  content: "";
  color: #fff;
}

.Apps:before {
  content: "";
  color: #fff;
}

.Arrow-Down:before {
  content: "";
  color: #fff;
}

.Arrow-Up:before {
  content: "";
  color: #fff;
}

.Camera:before {
  content: "";
  color: #fff;
}

.Chat:before {
  content: "";
  color: #fff;
}

.Home:before {
  content: "";
  color: #fff;
}

.Menu:before {
  content: "";
  color: #fff;
}

.Search:before {
  content: "";
  color: #fff;
}

.Sheets:before {
  content: "";
  color: #fff;
}

.Tag:before {
  content: "";
  color: #fff;
}

.Users:before {
  content: "";
  color: #fff;
}

div.search-box {
  margin: 66px auto 0;
  overflow: auto;
  background: #FFF;
}
div.search-box form.search_form {
  margin: 16px;
}
@media screen and (min-width: 960px) {
  div.search-box {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
