// Base style for the Dashboard

html {
	margin: 0;
}

body {
	@extend html;

	background: $white-smoke;
}

section {
	margin: 30px 20px;
}

button {
	cursor: pointer;
	outline: none;
}

form {
	button, input {
		outline: none;
	}

	button, input[type="submit"] {
		cursor: pointer;
	}
}
