// Venturit text icons

.venturit {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'venturit' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Analytics:before {
  content: "\e900";
  color: #fff;
}
.Apps:before {
  content: "\e901";
  color: #fff;
}
.Arrow-Down:before {
  content: "\e902";
  color: #fff;
}
.Arrow-Up:before {
  content: "\e903";
  color: #fff;
}
.Camera:before {
  content: "\e904";
  color: #fff;
}
.Chat:before {
  content: "\e905";
  color: #fff;
}
.Home:before {
  content: "\e906";
  color: #fff;
}
.Menu:before {
  content: "\e907";
  color: #fff;
}
.Search:before {
  content: "\e908";
  color: #fff;
}
.Sheets:before {
  content: "\e909";
  color: #fff;
}
.Tag:before {
  content: "\e90a";
  color: #fff;
}
.Users:before {
  content: "\e90b";
  color: #fff;
}
